body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.flexible {
  display: flex;
  padding: 50px;
}
.half-width {
  width: 50%;
  padding-left: 7%;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.border {
  border-left: 3px solid #ff5959;
  padding-left: 10px;
  opacity: 0.6;
}
.paragraph {
  font-size: 18px;
  line-height: 25px;
  color: #545454;
  text-align: justify;
  padding-bottom: 20px;
}
.paragraph2 {
  color: #545454;
  padding: 30px 0px;
  font-size: 16px;
}
a {
  text-decoration: none;
  background: #FF5959;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
}
.orange {
  color: orange;
}
.half-width img {
  width: 80%;
  padding-left: 10%;
}
.three-width {
  width: 33%;
  padding-left: 10%;
  border-radius: 20px;
  padding: 30px;
  margin-right: 30px;
}
.blue {
  color: #13103A;
  text-align: center;
}
.three-width img {
  width: 30%;
  text-align: center;
}
.mission-section {
  padding: 70px;
}
.one {
  background-color: #EDF5F6; 
}
.two {
  background-color: #FFEEEE;  
}
.three {
  background-color: #d1525227; 
}
.coding-section {
  padding: 0px 150px;
  margin-bottom: 100px;
}
.width-perfection-1 img {
  width: 100%;
  height: auto;
}
.width-perfection-1 {
  width: 40%; 
  padding-right: 70px;
}
.width-perfection-2 {
  width: 60%;  
}
.community-section {
  padding: 0px 150px;
  margin-bottom: 100px;
}

.width-perfection-3 {
  width: 60%;
  padding-right: 70px;
}
.width-perfection-4 {
  width: 40%;
}

.width-perfection-4 img {
  width: 100%;
  height: auto;
}
footer {
  background: #0B0D17;
  padding: 20px;
  text-align: center;
  color: white;
}
footer p {
  font-size: 14px;
  color: #9EA0A7;
}
h3 {
  font-size: 35px;
}
.colorized {
  color: #FF5959;
}